In [72]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [73]:
data = pd.read_csv("ad.data",header=None)
data.head()

C:\Users\a266197\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [74]:
# Handling missing values in the dataframe

def toNum(cell):
    try:
        return np.float(cell)
    except: 
        return np.nan

    
def seriesNAN(series):
    return series.apply(toNum)

In [75]:
X = data.iloc[0:,0:-1].apply(seriesNAN)

In [76]:
# Dropping the missing values
X.dropna(axis=0,inplace=True)

In [77]:
type(X)

pandas.core.frame.DataFrame

In [81]:
# Applying Min Max Scaler

scaler = MinMaxScaler()
X[:] = scaler.fit_transform(X[:])

In [83]:
# X,index is used so that the dropped rows are removed from the target column as well
y = data.iloc[X.index,-1]

In [84]:
y.value_counts()

nonad.    1978
ad.        381
Name: 1558, dtype: int64

In [85]:
# Converting the target variable to numeric
y = y.apply(lambda x:0 if x=="nonad." else 1)
y.value_counts()

0    1978
1     381
Name: 1558, dtype: int64

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7,test_size=0.3,random_state=0)

In [87]:
print("X_train :",X_train.shape)
print("X_test  :",X_test.shape)
print("y_train :",y_train.shape)
print("y_test  :",y_test.shape)

X_train : (1651, 1558)
X_test  : (708, 1558)
y_train : (1651,)
y_test  : (708,)

In [88]:
clf = LinearSVC()
clf.fit(X_train,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [89]:
y_pred = clf.predict(X_test)

# create onfusion matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[594   6]
 [ 15  93]]